body {
  background-color: black;
}

#board {
  position: relative;
  height: 863px;
  width: 1080px;
  margin: auto;
  background: url("Assets/board.jpg") no-repeat;
}

#messageArea {
  position: absolute;
  top: 0px;
  left: 0px;
  color: rgb(83, 175, 19);
}

table {
  position: absolute;
  top: 98px;
  left: 173px;
  border-spacing: 0px;
}

td {
  width: 94px;
  height: 94px;
}

form {
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 15px;
  background-color: rgb(83, 175, 19);
}

form input {
  background-color: rgb(152, 207, 113);
  border-color: rgb(83, 175, 19);
  font-size: 1em;
}
